@import url('https://fonts.googleapis.com/css?family=Arimo');

body {

    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
    transition: 3s;
}


.sun {
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 7.5vh;
    background: yellow;
    position: absolute;
    left: 0;
    top: -5.75vh;
    z-index: 10;
}


.overlay {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 7.5vh 0;
    color: aliceblue;
    font-family: 'Arimo', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    background-color: skyblue;
}


.night {
    display: none;
    position: realtive;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 7.5vh 0;
    color: aliceblue;
    font-family: 'Arimo', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    background-color: black;
    
}

#fulcrum {
    position: absolute;
    bottom: 0;
    margin: 0 12.5vw;
    height: 2vh;
    width: 75vw;
    transition: 3s;
    background: trasparent;


}

footer {
    position: fixed;
    bottom: 0;
    z-index: 11;
}

footer img {
    width: 100vw;
}
